body,html{
	background-color: #f7f7f7;
}
.box-shadow-10{  
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .2);  
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, .2);  
  box-shadow:0 0 10px rgba(0, 0, 0, .2);  
}
/*	选项item  */
.item{
	display: flex;
	margin: 20px 15px;
	border-radius: 5px;
	position: relative;
	padding: 15px 0px;
}
.item_icon{
	width: 80px;
	height: 80px;
	margin: 10px;
}
.item_d1{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.item_t1{
	font-size: 1.1rem;
	font-weight: bold;
}
.item_t2{
	font-size: 0.9rem;
	margin-top: 5px;
}
.selected{
	position: absolute;
	top: 0px;
	right: 0;
	width: 2rem;
}
.jinggao{
	position: absolute;
	right: 5px;
	bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 5px;
	color: red;
	font-size: 0.9rem;
}
.jinggao_img{
	width: 25px;
	height: 22px;
	margin-right: 3px;
}

/*代理教程*/
.title{
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 2rem;
}
.titles{
	margin-top: 15px;
	margin: 15px;
	padding: 15px;
	margin-bottom: 100px;
	border-radius: 5px;
}
.title1{
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 10px;
}
.title2{
	font-size: 0.9rem;
	color: #8c8c8e;
	margin-top: 5px;
	font-weight: bold;
}

/*支付按钮*/
.pay{
	width: 94%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: white;
	display: flex;
	justify-content: center;
	padding: 3%;
}
.pay_bt{
	width: 90%;
	background-color: #ffda00;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
/*遮罩*/
.mask{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	display: block;
}
.mask_img{
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 4rem;
}
.mask_label1{
	width: 240px;
	position: absolute;
	right: 1rem;
	top: 6rem;
	color: white;
	line-height: 1.6rem;
	display: flex;
	align-items: center;
}
.mask_label1_img{
	width: 1.5rem;
	margin: 0px 5px;
}

.mask_label2{
	position: absolute;
	right: 1rem;
	top: 9rem;
	width: 240px;
	color: white;
	line-height: 1.6rem;
}
