<html>
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>支付页面</title> 
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="applicable-device" content="pc,mobile">
</head> 
<body>
<form action="/pay/jump/" style="margin: 100px 0 0 100px">
    <input type="hidden" name="member_id" value="{$member_id}">
    <button type="submit">点击支付</button>
</form>
</body>
</html>